<html ng-app="piratesApp">
  <head>
    <title>Pirate Treasure</title>
  </head>
  <body>
    <div ng-controller="piratesController">
      <form ng-submit='getTreasureCount()'>
        <label>Enter the number of pirates:</label>
        <input type="text" ng-model="numberOfPirates"/>
        <button type='submit'>Count Treasure</button>
      </form>
      <div ng-show="processing">
        Counting Treasure...
        <img src="./images/progress.gif" style="height:16px" alt="progress"/>
      </div>
      <div ng-repeat='result in results' ng-show="!processing">{{result}}</div>
    </div>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script type="text/javascript" src="./js/pirates-app.js"></script>
    <script type="text/javascript" src="./js/controllers/pirates-controller.js"></script>
  </body>
</html>
